<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <title>Ben &amp; Jerry&rsquo;s</title>
        <style media="screen">
            header {
                background: #0f4d6f;
                padding-top: 16px;
                padding-bottom: 16px;
                border-bottom: 5px solid #035;
            }

            header * h1 {
                color: #fff;
                text-align: center;
            }

            header * h1 a,
            header * h1 a:hover,
            header * h1 a:visited,
            header * h1 a:active {
                color: #fff;
            }

            main h2 {
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .ice-cream {
                width: 23%;
                padding: 1% 1%;
                float: left;
                display: inline-grid;
            }

            .ice-cream h4 {
                border-bottom: 1px solid #333;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="container">
                <h1><a href="/">Ben &amp; Jerry&rsquo;s</a></h1>
            </div>
        </header>
        {{{ body }}}
    </body>
</html>
